<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <header>
                    <nav class="navbar navbar-light bg-light navbar-expand-sm navbar-toggleable-sm mr-auto bd-navbar border-bottom box-shadow mb-3">
                      <div class="container">
                            <a class="navbar-brand ml-1 d-inline-block align-top" style="width: 250px;cursor: pointer; " [routerLink]="['periyodik-bakim/bakim-planla']">
                            Yıllık Bakım Planı
                            </a>
                        </div>
                    </nav>                
                  </header>
            </div>
        </div>
    </div>
</div>
<br>
<router-outlet></router-outlet>