<div class="row">
    <div class="container">
        <div class="card">
            
            <div class="card-body">
                <h5 class="card-title">Bakım Planı Oluştur</h5>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="select-machine">Hangi Makineye Bakım Yapılacak? </label>
                        <select id="select-machine" class="form-control form-control-lg">
                            <option value="0">- Lütfen Makine Seçiniz -</option>
                            <option *ngFor="let Makine of MakineListesi">Folyo Hadde 1</option>
                        </select>
                    </div>                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="input-text-bolum">Makinenin Hangi Bölümü? </label>
                        <input id="input-text-bolum" type="text" class="form-control input-lg" />
                    </div>                    
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="input-text-bakim-yeri">Bakım Yeri Neresi? </label>
                        <input id="input-text-bakim-yeri" type="text" class="form-control input-lg" />
                    </div>                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="input-text-bakim-yeri">Periyot Aralığı Kaç Gün?</label>
                        <input id="input-text-bakim-periyotu" type="text" class="form-control input-lg" />
                    </div>                    
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="input-text-bakim-yeri">Bakımı Yapacak Personel veya Personeller Kim?</label>
                        <input id="input-text-bakim-personel" type="text" class="form-control input-lg" />
                    </div>                    
                </div> 
            </div>
        </div>
    </div>
</div>