<div>
  <input
    accept="audio/*,video/*,image/*"
    #fileInput
    style="display: none"
    type="file"
    (change)="onFileSelected($event)"
  />
  <button class="btn btn-secondary btn-sm mt-1 mb-1" (click)="fileInput.click()">
    Resim / Video Ekle
  </button>

  <div [innerHTML]="ProgressMessage"></div>

  <article>
    
  </article>
  <section *ngFor="let dosyaAd of dosyalar">

    <div class="d-flex">

      <div [innerHTML]="dosyaAd"></div>

       <button  (click)="onDosyaSil(dosyaAd)" style="color: red;font-weight: 600;" class="btn btn-link btn-sm">
          <span>X</span>
        </button>
    </div>
 
 </section>

</div>
