<main class="col-md-12 col-xl-8 col-sm-12" style="margin: auto;">
  <div
    class="card rounded-3 sticky"
    style="padding: 0px; margin-bottom: 14px; overflow: hidden"
  >
    <div
      style="
        background-color: rgb(63, 81, 181);
        height: 10px;
        padding-left: 0px;
        margin-bottom: 5px;
      "
    ></div>
    <nav
      style="
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
      "
    >
      <div *ngIf="FormTanim" style="padding: 0; font-size: 28px; text-align: center">
        {{FormTanim.FormAdiUzun}}
      </div>

      <button
        style="margin: 5px; width: 100px"
        class="btn btn-primary"
        (click)="kaydet()"
      >
        Kaydet
      </button>
    </nav>
  </div>




  <section *ngIf="FormSorularMetaData" class="card mb-3">
    <nav class="card-body">
      <article class="form-group row">
        <label class="col-sm-3 col-form-label">Operatör</label>
        <div class="col-sm-9">
          <input class="form-control-plaintext col-md-9" readonly
          type="text"
          class="form-control"
          [ngModel]="FormYatayData['KullaniciId']"
        
        />
        </div>
      
      </article>

      <article class="form-group row">
        <label class="col-sm-3 col-form-label">İşlem Tarihi</label>
        <div class="col-sm-9">
        <input readonly
        type="date"
        class="form-control"
        [ngModel]="FormYatayData['IslemTarih'] | DateFromUTCPipe"
      
      />
      </div>
    </article>

      </nav>
 

  </section>



  <section *ngFor="let formSoru of FormSorular; let i = index" class="form-group">

    {{formSoru | json}}

    <div *ngIf="FormYatayData.CevapEktraObj[formSoru.SoruKod]?.SorunluMu===SadeceSorunlularGosterilsinMi 
    || SadeceSorunlularGosterilsinMi===null">
      
   

   
      <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'section-main'">
        <article class="card rounded">
          <div
            style="
              background-color: darkmagenta;
              height: 12px;
              padding-left: 0px;
              margin-bottom: 5px;
             
            "
          ></div>
          <h4 style="margin-left: 20px;">
            {{ formSoru.Soru }}
          </h4>
        </article>
      </ng-template>
  
      <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'section'">
        <article class="card rounded">
        <div
          style="
            background-color:darkmagenta;
            height: 8px;
            padding-left: 0px;
            margin-bottom: 5px;
            margin-left: 25px;
          "
        ></div>
        <h4 style="margin-left: 45px;font-size: 20px;">
          {{ formSoru.Soru }}
        </h4>
        </article>
      </ng-template>
  
      <ng-template
        [ngIf]="
          formSoru.HtmlKontrolTip != 'section' &&
          formSoru.HtmlKontrolTip != 'section-main'
        "
      >
        <article class="card rounded-3" style="margin: auto">
          <div class="card-body">
            <h6 class="card-title">
              {{ formSoru.SoruKod }} - {{ formSoru.Soru }}
  
              <ng-template [ngIf]="formSoru.MinMax">
                <span>({{ formSoru.MinMax }})</span>
              </ng-template>
            </h6>
  
            <div style="color: red; font-size: 14px" class="mb-2">
              {{ formSoru.SoruOzelAciklama }}
            </div>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'text-readonly'">
              <input
                type="text"
                readonly
                class="form-control"
                [(ngModel)]="FormYatayData[formSoru.SoruKod]"
              />
            </ng-template>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'text'">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="FormYatayData[formSoru.SoruKod]"
              />
            </ng-template>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'number'">
              <input
                type="number"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari !== ''
                }"
                [ngModel]="FormYatayData[formSoru.SoruKod]"
                (ngModelChange)="modelChangeNumber($event, formSoru.SoruKod)"
              />
  
              <ng-template
                [ngIf]="
                  FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari !== ''
                "
              >
                <div class="invalid-feedback d-block">
                  {{ FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari }}
                </div>
              </ng-template>
            </ng-template>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'date'">
              <input
                type="date"
                class="form-control"
                [ngModel]="FormYatayData[formSoru.SoruKod] | DateFromUTCPipe"
                (ngModelChange)="FormYatayData[formSoru.SoruKod] = $event"
              />
            </ng-template>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'select'">
              <select
                type="text"
                class="form-control"
                [style.color]="FormYatayData[formSoru.SoruKod]==='UYGUN DEĞİL'?'red':'black'"
                [style.borderColor]="FormYatayData[formSoru.SoruKod]==='UYGUN DEĞİL'?'red':'lightgray'"
                [(ngModel)]="FormYatayData[formSoru.SoruKod]"
              >
                <option
                  *ngFor="let deger of formSoru.Secenekler.split(';')"
                  [value]="deger"
                >
                  {{ deger }}
                </option>
              </select>
            </ng-template>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'radio'">
              <div
                class="form-check"
                *ngFor="
                  let deger of formSoru.Secenekler.split(';');
                  let i = index
                "
              >
                <input
                  [value]="deger"
                  type="radio"
                  [attr.name]="formSoru.SoruKod"
                  [attr.id]="formSoru.SoruKod + '_' + i"
                  class="form-check-input"
                  [(ngModel)]="FormYatayData[formSoru.SoruKod]"
                />
  
                <label
                  class="form-check-label"
                  [attr.for]="formSoru.SoruKod + '_' + i"
                  >{{ deger }}</label
                ><br />
              </div>
            </ng-template>
  
            <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'check'">
              <div
                class="form-check"
                *ngFor="
                  let deger of formSoru.Secenekler.split(';');
                  let i = index
                "
              >
                <input
                  [value]="deger"
                  type="radio"
                  [attr.name]="formSoru.SoruKod"
                  [attr.id]="formSoru.SoruKod + '_' + i"
                  class="form-check-input"
                  [(ngModel)]="FormYatayData[formSoru.SoruKod]"
                />
  
                <label
                  class="form-check-label"
                  [attr.for]="formSoru.SoruKod + '_' + i"
                  >{{ deger }}</label
                ><br />
              </div>
            </ng-template>
  
            <ng-template
              [ngIf]="FormYatayData[formSoru.SoruKod] === 'UYGUN DEĞİL'"
            >
              <gk-upload
                class="mt-10"
                [dosyalar]="
                  FormYatayData.CevapEktraObj[formSoru.SoruKod].Dosyalar
                "
              ></gk-upload>
  
              <input
                type="text"
                class="form-control"
                [(ngModel)]="
                  FormYatayData.CevapEktraObj[formSoru.SoruKod].Aciklama
                "
                placeholder="Açıklama"
              />
            </ng-template>
          </div>
        </article>
      </ng-template>
    </div>

  </section>
</main>
