
<section class="card">
  <nav class="card-body">
    <article class="form-group row">
      <label class="col-sm-3 col-form-label">Form Tarihi</label>
      <div class="col-sm-3">
      <input 
      type="date"
      class="form-control"
      [(ngModel)]="aktifTarih"
    
    />
    </div>
  </article>


    <div class="progress" style="width: 100%;height: 15px;">
      <div class="progress-bar bg-success" role="progressbar"  [style.width]="DoldurulmaYuzde+'%'"
      >{{DoldurulmaYuzde}}%</div>
    </div>


    </nav>
</section>




<section class="card">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>FormAd</th>
        <th>Form Tarihi</th>

        <th>Yetkili Roller</th>
        <th>Doldurulma Tar.</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let form of FormGunluks">
        <td>{{ form.Id }}</td>
        <td>{{ form.FormAd }}</td>
        <td>{{ form.FormOlusturmaTarihi | date: "dd/MM/yyyy" }}</td>

        <td>{{ form.YetkiliRoller }}</td>
        <td>{{ form.FormGuncellenmeTarihi | date: "dd/MM/yyyy HH:mm" }}</td>

        <td>

          <ng-template [ngIf]="form.FormGuncellenmeTarihi">
            <button style="width: 90px;" class="btn btn-success" (click)="edit(form)">Düzenle</button>
          </ng-template>

          <ng-template [ngIf]="!form.FormGuncellenmeTarihi">
            <button style="width: 90px;" class="btn btn-danger" (click)="edit(form)">Başla</button>
          </ng-template>
      

        </td>
      </tr>
    </tbody>
  </table>
</section>
