<h4>Form Tanımları</h4>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Form Ekle</a>

<div class="card">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>FormAd</th>
        <th>Periyod</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let form of FormTanims">
        <td>{{ form.Id }}</td>
        <td>{{ form.FormAd }}</td>
        <td>{{ form.Periyod }}</td>
        <td>
          <button class="btn btn-primary" (click)="edit(form)">Sorular</button>
        </td>
      </tr>

      <tr *ngIf="!FormTanims">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
