<p>Form soruları</p>
<section class="card">

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Makina</th>
      <th>SoruKod</th>
      <th>Soru</th>
      <th>HtmlKontrolTip</th>
      <th>MinMax</th>
      <th>ZorunluMu</th>
      <th>VarsayılanDeğer</th>
      <th>Secenekler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let soru of FormSorular">
      <td><input type="text" [(ngModel)]="soru.Makina" /></td>
      <td><input type="text" [(ngModel)]="soru.SoruKod" /></td>
      <td><input type="text" [(ngModel)]="soru.Soru" /></td>
      <td><input type="text" [(ngModel)]="soru.HtmlKontrolTip" /></td>
      <td><input type="text" [(ngModel)]="soru.MinMax" /></td>
      <td><input type="text" [(ngModel)]="soru.ZorunluMu" /></td>
      <td><input type="text" [(ngModel)]="soru.VarsayilanDeger" /></td>
      <td><input type="text" [(ngModel)]="soru.Secenekler" /></td>
    </tr>
  </tbody>
</table>
</section>
