<header>
  <nav
    class="navbar navbar-light bg-light navbar-expand-sm navbar-toggleable-sm mr-auto
     bd-navbar border-bottom box-shadow mb-3"
  >
    <div class="container">
      <img src="../../assets/Pandap_logo150.png" width="45px" />
      <a class="navbar-brand ml-1 d-inline-block align-top" [routerLink]="['/']"
        >Pandap.Net</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow  mr-auto">
        
          <li
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item dropdown"
          >
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Kestirici Bakım
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                [routerLink]="['pandapforms/formGunluk']"
                class="dropdown-item"
                href="#"
                >Bugün Bakılacaklar</a
              >
              <div class="dropdown-divider"></div>

              <a
              [routerLink]="['pandapforms/formTanimlari']"
              class="dropdown-item"
              href="#"
              >Form Tanmları</a
            >
            
            </div>
          </li>
        </ul>

        <button  (click)="logOut()" class="btn btn-outline-danger my-2 my-sm-0">Çıkış</button>

      </div>
    </div>
  </nav>

  
</header>
