<header>
  <nav
    class="navbar navbar-light bg-light navbar-expand-sm navbar-toggleable-sm mr-auto
     bd-navbar border-bottom box-shadow mb-3"
  >
    <div class="container">
      <img src="../../assets/Pandap_logo150.png" width="45px" />
      <a class="navbar-brand ml-1 d-inline-block align-top" [routerLink]="['/']"
        >Pandap.Net</a
      >

      <a class="navbar-brand ml-1 d-inline-block align-top" style="width: 250px;cursor: pointer; "
          [routerLink]="['pandapforms/formGunluk']"
          >
          <span class="fa fa-stethoscope" style="color:orangered;font-weight: bold;"></span>
          Kestirimci Bakım
      </a>

      <a class="navbar-brand ml-1 d-inline-block align-top" style="width: 250px;cursor: pointer; " [routerLink]="['hdepo/deposayim']">
        <span class="fa fa-cubes" style="color:orangered;font-weight: bold;"></span> Depo Sayım
      </a>

      <a class="navbar-brand ml-1 d-inline-block align-top" style="width: 250px;cursor: pointer; " [routerLink]="['pandapforms/yillik-bakim-planla']">
        <span class="fa fa-cogs" style="color:orangered;font-weight: bold;"></span> Yıllık Bakım Planla
      </a>
 

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow  mr-auto">

     
        </ul>

        <button  (click)="logOut()" class="btn btn-outline-danger my-2 my-sm-0">Çıkış</button>

      </div>
    </div>
  </nav>

  
</header>
