<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Pandap.Net</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Ana Sayfa</a>
          </li>

          <li
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item dropdown"
          >
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Kestirici Bakım
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a  [routerLink]="['/kestirimci-bakim/formGunluk']" class="dropdown-item" href="#">Bugün Bakılacaklar</a>
              <div class="dropdown-divider"></div>
              <a  [routerLink]="['/kestirimci-bakim/formliste']" class="dropdown-item" href="#">Form Tanımları</a>
            </div>
          </li>

          <li
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Ebys
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a  [routerLink]="['/kestirimci-bakim/formGunluk']" class="dropdown-item" href="#">Gelen Evrak</a>
            <div class="dropdown-divider"></div>
            <a  [routerLink]="['/kestirimci-bakim/formliste']" class="dropdown-item" href="#">Giden Evrak</a>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
