<main class="col-md-10 col-xl-8" style="margin: auto">
  <div class="formMain">
    <h3>KESTİRİMCİ BAKIM KONTROL FORMU</h3>
  </div>

  <nav class="sticky">
    <button
      style="margin: 5px; width: 100px"
      class="btn btn-success"
      (click)="kaydet()"
    >
      Kaydet
    </button>
  </nav>

  <div *ngFor="let formSoru of FormSorular; let i = index" class="form-group">
    <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'section-main'">
      <article class="section-main">
        <div>{{ formSoru.Soru }}</div>
      </article>
    </ng-template>

    <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'section'">
      <article class="section">
        <div>{{ formSoru.Soru }}</div>
      </article>
    </ng-template>

    <ng-template
      [ngIf]="
        formSoru.HtmlKontrolTip != 'section' &&
        formSoru.HtmlKontrolTip != 'section-main'
      "
    >
      <article class="card" style="margin: auto">
        <div class="card-body">
          <h6 class="card-title">
            {{ formSoru.SoruKod }} - {{ formSoru.Soru }}
          </h6>


          <div style="color: red; font-size: 14px" class="mb-2">
            {{ formSoru.SoruOzelAciklama }}
          </div>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'text-readonly'">
            <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            />
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'text'">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            />
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'number'">
            <input
              type="number"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari !== ''
              }"
              [ngModel]="FormYatayData[formSoru.SoruKod]"
              (ngModelChange)="modelChangeNumber($event, formSoru.SoruKod)"
            />

            <ng-template
              [ngIf]="
                FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari !== ''
              "
            >
              <div class="invalid-feedback d-block">
                {{ FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari }}
              </div>
            </ng-template>
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'date'">
            <input
              type="date"
              class="form-control"
              [ngModel]="FormYatayData[formSoru.SoruKod] | DateFromUTCPipe"
              (ngModelChange)="FormYatayData[formSoru.SoruKod] = $event"
            />
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'select'">
            <select
              type="text"
              class="form-control"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            >
              <option
                *ngFor="let deger of formSoru.Secenekler.split(';')"
                [value]="deger"
              >
                {{ deger }}
              </option>
            </select>
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'radio'">
            
            <div class="form-check" *ngFor="let deger of formSoru.Secenekler.split(';');let i = index">
              <input   [value]="deger"
              type="radio"
              [attr.name]="formSoru.SoruKod"
              [attr.id]= "formSoru.SoruKod + '_' + i"
              class="form-check-input"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            >

            <label class="form-check-label"  [attr.for]="formSoru.SoruKod + '_' + i">{{deger}}</label><br>
            </div>
          
         
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'check'">
            
            <div class="form-check" *ngFor="let deger of formSoru.Secenekler.split(';');let i = index">
              <input   [value]="deger"
              type="radio"
              [attr.name]="formSoru.SoruKod"
              [attr.id]= "formSoru.SoruKod + '_' + i"
              class="form-check-input"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            >

            <label class="form-check-label"  [attr.for]="formSoru.SoruKod + '_' + i">{{deger}}</label><br>
            </div>
          
         
          </ng-template>

          <ng-template
            [ngIf]="FormYatayData[formSoru.SoruKod] === 'UYGUN DEĞİL'"
          >
            <gk-upload
              class="mt-10"
              [dosyalar]="
                FormYatayData.CevapEktraObj[formSoru.SoruKod].Dosyalar
              "
            ></gk-upload>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="
                FormYatayData.CevapEktraObj[formSoru.SoruKod].Aciklama
              "
              placeholder="Açıklama"
            />
          </ng-template>
        </div>
      </article>
    </ng-template>
  </div>
</main>
