<main class="col-md-10 col-xl-8" style="margin: auto">
  <div
    style="
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 15px;
      background: darkblue;
      color: white;
    "
  >
    <h3>KESTİRİMCİ BAKIM KONTROL FORMU</h3>
  </div>

  <div
    style="
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
      background: white;
    "
  >
    <button
      style="margin: 5px; width: 100px"
      class="btn btn-primary"
      (click)="kaydet()"
    >
      Kaydet
    </button>
  </div>

  <div *ngFor="let formSoru of FormSorular; let i = index" class="form-group">
    <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'section-main'">
      <article
        style="
          padding: 15px;
          background-color: blueviolet;
          display: flex;
          align-items: center;
          color: white;
          margin-bottom: -15px;
        "
      >
        <div>{{ formSoru.Soru }}</div>
      </article>
    </ng-template>

    <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'section'">
      <article
        style="
          padding: 10px;
          margin-left: 50px;

          background-color: rgba(137, 43, 226, 0.568);
          display: flex;
          align-items: center;
          color: white;
          margin-bottom: -10px;
        "
      >
        <div>{{ formSoru.Soru }}</div>
      </article>
    </ng-template>

    <ng-template
      [ngIf]="
        formSoru.HtmlKontrolTip != 'section' &&
        formSoru.HtmlKontrolTip != 'section-main'
      "
    >
      <article class="card" style="margin: auto">
        <div class="card-body">
          <h6 class="card-title">
            {{ formSoru.SoruKod }} - {{ formSoru.Soru }}
          </h6>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'text-readonly'">
            <input
              type="text"
              readonly
              class="form-control"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            />
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'text'">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            />
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'number'">
            <input
              type="number"
              class="form-control"
              [ngClass]="{'is-invalid':FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari !== ''}"
              [ngModel]="FormYatayData[formSoru.SoruKod]"
              (ngModelChange)="modelChangeNumber($event, formSoru.SoruKod)"
            />

            <ng-template
              [ngIf]="FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari !== ''"
            >
              <div class="invalid-feedback d-block">
                {{ FormYatayData.CevapEktraObj[formSoru.SoruKod].Uyari }}
              </div>
            </ng-template>
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'date'">
            <input
              type="date"
              class="form-control"
              [ngModel]="FormYatayData[formSoru.SoruKod] | DateFromUTCPipe"
              (ngModelChange)="FormYatayData[formSoru.SoruKod] = $event"
            />
          </ng-template>

          <ng-template [ngIf]="formSoru.HtmlKontrolTip == 'select'">
            <select
              type="text"
              class="form-control"
              [(ngModel)]="FormYatayData[formSoru.SoruKod]"
            >
              <option
                *ngFor="let deger of formSoru.Secenekler.split(';')"
                [value]="deger"
              >
                {{ deger }}
              </option>
            </select>
          </ng-template>

          <ng-template
            [ngIf]="FormYatayData[formSoru.SoruKod] === 'UYGUN DEĞİL'"
          >
            <gk-upload
              class="mt-10"
              [dosyalar]="
                FormYatayData.CevapEktraObj[formSoru.SoruKod].Dosyalar
              "
            ></gk-upload>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="
                FormYatayData.CevapEktraObj[formSoru.SoruKod].Aciklama
              "
              placeholder="Açıklama"
            />
          </ng-template>
        </div>
      </article>
    </ng-template>
  </div>

  <div
    style="
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
      background: white;
    "
  >
    <button
      style="margin: 5px; width: 100px"
      class="btn btn-primary"
      (click)="kaydet()"
    >
      Kaydet
    </button>
  </div>
</main>
